body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --gray: rgb(75, 75, 75);
  --dark-gray: rgb(50, 50, 50);
  color: var(--dark-gray);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--dark-gray);
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
  text-align: right;
}

.nav-link.active {
  font-weight: 500;
}

.navbar-light .navbar-toggler {
  border-color: var(--gray);
}

.navbar-light .navbar-toggler:focus {
  outline: none;
}

.page-content-container {
  width: 100vw;
  height: 100vh;
}

.home-photo {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  animation: fade 1s;
  opacity: 0.8;
}

@keyframes fade {
  from { opacity: 1; }
  to { opacity: 0.8; }
}

@keyframes fadein {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.page-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home div {
  margin: 10px;
  width: 600px;
  height: 400px;
  animation: fadein 1s;
  outline: 2px solid white;
  outline-offset: -15px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 32px;
}

.home h1 {
  margin-bottom: 20px;
}

.home h3 {
  margin-bottom: 30px;
}

@keyframes bounce {
  0% { transform: translateY(2px) }
  50% { transform: translateY(-1.5px) }
  100% { transform: translateY(2px) }
}

.down-arrow {
  color: var(--gray);
  animation: bounce 2s cubic-bezier(0.34, 0.61, 0.59, 1.11) infinite
}

.down-arrow:hover {
  cursor: pointer;
  color: var(--dark-gray);
}

@media all and (max-width: 992px) {
  .navbar-light .navbar-nav .nav-link {
    padding-right: 0px;
  }
}

@media all and (max-width: 600px) {
  .home div {
    height: 300px;
    max-width: 90vw;
  }

  h1 {
    font-size: 32px;
  }

  h3 {
    font-size: 22px;
  }
}
